/* Загальний стиль */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Ліва колонка (сайдбар) */
.sidebar {
    background-color: #333; /* Темно-сірий фон */
    padding: 20px;
    color: white; /* Змінює колір шрифта на білий для всіх елементів у боковій панелі */
}

/* Заголовки та текст в боковій панелі */
.sidebar h3, 
.sidebar p, 
.sidebar strong, 
.sidebar a {
    color: white; /* Білий колір тексту для заголовків, параграфів та посилань у боковій панелі */
}

.sidebar i {
    color: white; /* Білий колір іконок у боковій панелі */
}

/* Права колонка (основний контент) */
.main-content {
    background-color: #fff; /* Білий фон */
    padding: 20px;
    color: #333; /* Чорний колір тексту для основного контенту */
}

/* Заголовки в основному контенті */
.main-content h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: #333; /* Чорний колір для заголовка H1 у основному контенті */
    font-weight: 800;
    font-family: "Raleway", sans-serif;
}

.main-content h2 {
    color: #333; /* Чорний колір для заголовка H2 */
    font-size: 24px;
}

.main-content h3 {
    color: #333; /* Чорний колір для заголовка H3 */
    font-size: 20px;
    margin-bottom: 10px;
}

.main-content h4 {
    color: #333; /* Чорний колір для заголовка H4 */
    margin-top: 20px;
}

.main-content p {
    line-height: 1.5;
    color: #333; /* Чорний колір для тексту параграфів в основному контенті */
}

/* Секція контактів */
.contact i, .references i, .education i {
    color: white; /* Білий колір іконок у секціях контактів */
}

/* Стиль для навичок */
.skills .progress {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.skills .progress-bar {
    background-color: #fbf70c; /* Яскраво-жовтий колір для заповнення прогресу */
    height: 10px;
}

.skills span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
